<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'realtimeFinancialTimeSeries/style.css' %}">

</head>
<body>

<!-- Navbar -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Forecasting Financial Data in Real-Time</a>
  </div>
</nav>

<form method="post" enctype="multipart/form-data" action="eda">
    {% csrf_token %}

<select class="form-select form-select-lg" aria-label="Default select example" name="select_target">
  {% for var in target_variables %}
  <option value= " {{ var }} " > {{ var }} </option>
  {% endfor %}
</select>

  <div>
    <center>
  <input type="submit" value="Submit" name="submit_target_variable">
    </center>
  </div>
  </form>


</body>
</html>